# DB
db/postgres-data

#client
client/node_modules
client/build
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

#server
server/node_modules
server/dist
server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

# OS
server/.DS_Store